@keyframes slideInLeft {
    0% {
        transform: translate3d(-250px, 0, 0);
        visibility: visible;
    }
  
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
  
    100% {
        transform: translate3d(-250px, 0, 0);
        visibility: hidden;
    }
}



//Nav Variables
$brgr-height: 30px;
$brgr-border-width: 2px;
$brgr-margin: 30px;
$brgr-bun-width: 25px;
$brgr-bun-height: $brgr-border-width;

$brgr-font-size: 20px;
$brgr-text-pad: $brgr-margin;


$brgr-transition-speed: .5s;
$brgr-transition: $brgr-transition;


.nav {
    
    &-list {
        position: absolute;
        top: 0;
        left: 0;
        // z-index: 11;

        &:not(.open) {
            visibility: hidden;
        }

        &:not(.open) {
            visibility: hidden;
        }

        &.open {
            visibility: visible;
    
            li {
                animation-duration: $brgr-transition-speed;
                animation-fill-mode: both;
                animation-name: slideInLeft;
            }
        }
    }

    &-item {
        color: $color-primary;
        list-style-type: none;
        padding: 10px;
        text-align: right;
        // transform: translateX(-250px);

        a {
            text-decoration: none;
        }

        &:first-child {
            padding-top: 30px;
        }

        &:not(.open) {
            animation-duration: $brgr-transition-speed;
            animation-fill-mode: both;
            animation-name: slideOutLeft;
        }
    }

    &-link {
        @include font-size(18);
        background: transparent;
        border-left: $color-primary solid $brgr-border-width;
        color: $color-primary;
        font-weight: 500;
        margin-left: $brgr-margin;
        text-decoration: none;
        transition: all .5s ease;
        width: auto;
        text-decoration: none;

        &:hover,
        &-active {
          border-left: $color-primary solid $brgr-border-width;
          padding-left: $brgr-text-pad;
        }
    }

    .brgr {
        &-menu {
            background: $color-primary;
            border: $color-primary solid $brgr-border-width;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            height: $brgr-height;
            padding-left: 5px;
            padding-top: 5px;
            position: relative;
            transition: all .5 ease;
            user-select: none;
            width: $brgr-height;
            z-index: 12;
        
            &:hover {
                border: $color-primary  solid $brgr-border-width;
            }
        }

        &-bun {
            background: $color-primary;
            position: relative;
            transition: $brgr-transition;

            &-top,
            &-mid,
            &-bot {
                height: $brgr-bun-height;
                width: $brgr-bun-width;
            }
        
            &-top {
                top: 0;
            }
        
            &-mid {
                top: 8px;
            }
        
            &-bot {
                top: 16px;
            }
        }

        &-brand {
            @include font-size(18);
            color: $color-primary;
            margin-left: $brgr-text-pad;
            position: relative;
            text-decoration: none;
            top: -20px;
            transition: all .5 ease;
            z-index: 20;
        }

        &-container {
            height: $brgr-height;
            left: $brgr-margin;
            position: absolute;
            top: $brgr-margin;
          
            &:hover:not(.open) {
                .brgr-bun-top,
                .brgr-bun-mid,
                .brgr-bun-bot {
                    background: $color-primary;
                }
            }
          
            &.open {
                .brgr-main {
                    border: $color-primary solid $brgr-border-width;
                }
            
                .brgr-bun-top {
                    background: $color-primary;
                    top: 9px;
                    transform: rotate(45deg);
                }
            
                .brgr-bun-mid {
                    opacity: 0;
                }
            
                .brgr-bun-bot {
                    background: $color-primary;
                    top: 5px;
                    transform: rotate(-45deg);
                }
            
            }
        }
    }
}

