@keyframes slideInLeft {
    0% {
        transform: translate3d(-250px, 0, 0);
        visibility: visible;
    }
  
    100% {
        transform: translate3d(0, 0, 0);
    }
}



@keyframes slideOutLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
  
    100% {
        transform: translate3d(-250px, 0, 0);
        visibility: hidden;
    }
}

.nav {
    
    &-list {
        position: absolute;
        top: 0;
        left: 0;
        // z-index: 11;

        &:not(.open) {
            visibility: hidden;
        }

        &:not(.open) {
            visibility: hidden;
        }

        &.open {
            visibility: visible;
    
            li {
                animation-duration: .4s;
                animation-fill-mode: both;
                animation-name: slideInLeft;
            }
        }
    }

    &-item {
        color: $color-primary;
        list-style-type: none;
        padding: 10px;
        text-align: right;
        // transform: translateX(-250px);

        a {
            text-decoration: none;
        }

        &:first-child {
            padding-top: 30px;
        }

        &:not(.open) {
            animation-duration: .5s;
            animation-fill-mode: both;
            animation-name: slideOutLeft;
        }
    }

    &-link {
        @include font-size(18);
        background: transparent;
        border-left: $color-primary solid 2px;
        color: $color-primary;
        font-weight: 500;
        margin-left: 30px;
        text-decoration: none;
        transition: all .5s ease;
        width: auto;
        text-decoration: none;

        &:hover,
        &-active {
          border-left: $color-primary solid 2px;
          padding-left: 30px;
        }
    }

    .brgr {
        &-menu {
            background: $color-primary;
            border: $color-primary solid 2px;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            height: 2px;
            padding-left: 5px;
            padding-top: 5px;
            position: relative;
            transition: all .5 ease;
            user-select: none;
            width: 5px;
            z-index: 12;
        
            &:hover {
                border: $color-primary  solid 2px;
            }
        }

        &-bun {
            background: $color-primary;
            position: relative;
            transition: all .5 ease;
        
            &--top {
                height: 2px;
                top: 0;
                width: 25px;
            }
        
            &--mid {
                height: 2px;
                top: 8px;
                width: 25px;
            }
        
            &--bottom {
                height: 2px;
                top: 16px;
                width: 25px;
            }
        }
    }
}