.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
.hide {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.remove {
  display: none; }

.is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -ms-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  visibility: hidden; }

.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; }

blockquote {
  border-left: 2px solid #4834d4;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 20px;
  padding-left: 25px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 25px; }

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 25px; }

p {
  font-size: 16px;
  margin: 0 0 20px; }

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word; }

code {
  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 2px 10px;
  word-break: break-all;
  word-wrap: break-word; }

a {
  color: #4834d4; }
  a:hover, a:focus {
    text-decoration: none; }

@media screen and (max-width: 480px) {
  body {
    font-size: 14px; }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 18px; }
  h3 {
    font-size: 16px; }
  h4,
  h5,
  p,
  ul,
  ol {
    font-size: 14px; } }

.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden; } }

.nav-list {
  position: absolute;
  top: 0;
  left: 0; }
  .nav-list:not(.open) {
    visibility: hidden; }
  .nav-list:not(.open) {
    visibility: hidden; }
  .nav-list.open {
    visibility: visible; }
    .nav-list.open li {
      animation-duration: .4s;
      animation-fill-mode: both;
      animation-name: slideInLeft; }

.nav-item {
  color: #4834d4;
  list-style-type: none;
  padding: 10px;
  text-align: right; }
  .nav-item a {
    text-decoration: none; }
  .nav-item:first-child {
    padding-top: 30px; }
  .nav-item:not(.open) {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: slideOutLeft; }

.nav-link {
  font-size: 18px !important;
  font-size: 1.125rem !important;
  background: transparent;
  border-left: #4834d4 solid 2px;
  color: #4834d4;
  font-weight: 500;
  margin-left: 30px;
  text-decoration: none;
  transition: all .5s ease;
  width: auto;
  text-decoration: none; }
  .nav-link:hover, .nav-link-active {
    border-left: #4834d4 solid 2px;
    padding-left: 30px; }

.nav .brgr-menu {
  background: #4834d4;
  border: #4834d4 solid 2px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 2px;
  padding-left: 5px;
  padding-top: 5px;
  position: relative;
  transition: all .5 ease;
  user-select: none;
  width: 5px;
  z-index: 12; }
  .nav .brgr-menu:hover {
    border: #4834d4 solid 2px; }
