.custom {
  cursor: url(../../images/love-time.cur);
  cursor: url(../../images/love-time.png), auto; }

.clearfix:after,
.group:after {
  content: ' ';
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
.hide {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.remove {
  display: none; }

.is-hidden {
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -ms-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
  visibility: hidden; }

.outline {
  -webkit-text-stroke: 2px black;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.custom {
  cursor: url(../../images/love-time.cur);
  cursor: url(../../images/love-time.png), auto; }

.clearfix:after,
.group:after {
  content: ' ';
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden; }

body {
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden; }

blockquote {
  border-left: 2px solid #4834d4;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 20px;
  padding-left: 25px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", sans-serif; }

h1 {
  font-size: 32px !important;
  font-size: 2rem !important;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h2 {
  font-size: 24px !important;
  font-size: 1.5rem !important;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h3 {
  font-size: 20px !important;
  font-size: 1.25rem !important;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h4 {
  font-size: 18px !important;
  font-size: 1.125rem !important;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 25px; }

h5 {
  font-size: 16px !important;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 25px; }

p {
  font-size: 18px !important;
  font-size: 1.125rem !important;
  margin: 0 0 20px; }

pre {
  border-left: 0.5rem solid rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%; }

code {
  font-size: 12px !important;
  font-size: 0.75rem !important;
  background-color: #111;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: inline-block;
  margin: 0 0.25rem;
  padding: 15px;
  width: 100%; }

a {
  color: #4834d4; }
  a:hover, a:focus {
    text-decoration: none; }

@media screen and (max-width: 480px) {
  body {
    font-size: 16px !important;
    font-size: 1rem !important; }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px; }
  h1 {
    font-size: 26px !important;
    font-size: 1.625rem !important; }
  h2 {
    font-size: 20px !important;
    font-size: 1.25rem !important; }
  h3 {
    font-size: 16px !important;
    font-size: 1rem !important; }
  h4,
  h5,
  p,
  ul,
  ol {
    font-size: 16px !important;
    font-size: 1rem !important; } }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes fade_arw_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }

@keyframes spin {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.4; } }

@keyframes slideInLeft {
  0% {
    transform: translate3d(250px, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(250px, 0, 0);
    visibility: hidden; } }

.bold {
  font-weight: 500; }

.clearfix:after,
.group:after {
  content: ' ';
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
.modal-container {
  background: rgba(0, 0, 0, 0.75);
  color: #111;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 99; }
  .modal-toggler:checked + .modal-container {
    opacity: 1;
    transition: opacity 0.5s;
    visibility: visible; }
  .modal-container .block-btn {
    display: block;
    margin: 25px auto 10px;
    min-width: 280px; }

.modal {
  border-radius: 0.5em;
  left: 50%;
  max-height: calc(100vh - 100px);
  min-width: 60%;
  overflow-y: auto;
  padding: 2em;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .modal-title {
    font-size: 20px !important;
    font-size: 1.25rem !important;
    margin: 15px auto 40px; }
  .modal.close-modal-area {
    height: 100%;
    width: 100%; }
  .modal.modal-box {
    background: #fff;
    text-align: left; }
  .modal-close {
    font-size: 44px !important;
    font-size: 2.75rem !important;
    cursor: pointer;
    padding: 0 15px 0 0;
    position: absolute;
    right: 0;
    top: 0; }
    .modal-close:hover, .modal-close:active, .modal-close:focus {
      color: #4834d4; }
  .modal-toggler {
    display: none; }

.toggle-link {
  color: #30219b;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline; }
  .toggle-link:hover, .toggle-link:focus, .toggle-link:active {
    color: #4834d4; }

@media only screen and (max-width: 800px) {
  .modal {
    min-width: 90%; } }

@media only screen and (max-width: 480px) {
  .modal-container .block-btn {
    font-size: 20px !important;
    font-size: 1.25rem !important;
    margin: 20px auto 0px;
    min-width: 240px; }
  .modal-container .modal {
    padding: 20px; }
    .modal-container .modal-title {
      font-size: 18px !important;
      font-size: 1.125rem !important;
      margin: 5px auto 25px; } }

.nav {
  background-color: #fff;
  height: 60px; }
  .nav-list {
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    right: 0;
    z-index: 10; }
    .nav-list:not(.open) {
      visibility: hidden; }
    .nav-list.open {
      visibility: visible; }
      .nav-list.open .nav-item {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: slideInLeft; }
  .nav-item {
    color: #2b2b2b;
    list-style-type: none;
    padding: 10px;
    text-align: right;
    transform: translateX(-250px); }
    .nav-item:first-child {
      padding-top: 75px; }
    .nav-item:not(.open) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: slideOutLeft; }
  .nav-link {
    background: #fff;
    border-right: white solid 2px;
    color: #2b2b2b;
    font-size: 22px;
    font-weight: 400;
    margin-right: 30px;
    text-decoration: none;
    transition: all 0.5s ease;
    width: auto; }
    .nav-link:hover, .nav-link--active {
      border-right: #2b2b2b solid 2px;
      padding-right: 30px; }
  .nav-menu {
    background: transparent;
    border-radius: 50%;
    border: black solid 2px;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    padding-left: 15px;
    padding-top: 18px;
    position: relative;
    transition: all 0.5s ease;
    user-select: none;
    width: 60px;
    z-index: 20; }
  .nav-contain.open .nav-main {
    border: #2b2b2b solid 2px; }
  .nav-contain.open .nav-bun--top {
    background: blighten(#111, 10%) lack;
    top: 9px;
    transform: rotate(45deg); }
  .nav-contain.open .nav-bun--mid {
    opacity: 0; }
  .nav-contain.open .nav-bun--bot {
    background: #2b2b2b;
    top: 5px;
    transform: rotate(-45deg); }
  .nav-bun {
    background: #2b2b2b;
    position: relative;
    transition: all 0.5s ease; }
    .nav-bun--top, .nav-bun--mid, .nav-bun--bot {
      height: 2px;
      width: 25px; }
    .nav-bun--top {
      top: 0; }
    .nav-bun--mid {
      top: 8px; }
    .nav-bun--bot {
      top: 16px; }

@media only screen and (max-width: 480px) {
  .nav-link {
    font-size: 20px !important;
    font-size: 1.25rem !important;
    margin-right: 20px; } }

.footer {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #dddddd;
  padding: 5px; }
  .footer p {
    font-size: 14px !important;
    font-size: 0.875rem !important;
    color: #fff;
    margin: 0;
    padding: 5px 10px; }
  .footer .heart {
    color: #f07a79; }

@media only screen and (max-width: 600px) {
  .footer {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; } }

.banner {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #fff;
  padding: 20px 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 75; }
  .banner .logo-heading {
    font-size: 28px !important;
    font-size: 1.75rem !important;
    margin: 0; }
  .banner .logo-main {
    margin: 14px 10px 0;
    width: 180px; }

@media only screen and (max-width: 400px) {
  .banner {
    padding: 15px; }
    .banner .logo-main {
      margin: 14px 0 0;
      width: 160px; } }

.main {
  padding: 5px 30px 45px;
  margin: 80px 0 0; }
  .main-home {
    padding: 0;
    margin: 0 auto; }
    .main-home h2 {
      margin: 80px 0 0; }
  .main h2 {
    margin: 20px; }

@media only screen and (max-width: 600px) {
  .main {
    padding: 0 30px 20px; }
    .main h2 {
      margin: 20px auto 20px; } }

@media only screen and (max-width: 400px) {
  .main {
    padding: 0 15px 15px; } }

.about {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
  .about-picture {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 40%; }
    .about-picture img {
      margin: 0 auto;
      width: 360px; }
  .about-blurb {
    padding-right: 40px;
    width: 60%; }
    .about-blurb a {
      color: #6ab04c;
      text-decoration: none; }
      .about-blurb a:hover, .about-blurb a:focus, .about-blurb a:active {
        animation: animatedgradient 10s ease-in alternate infinite !important;
        background: linear-gradient(330deg, #00c9ff, #92fe9d) !important;
        background-size: 800% 800% !important; }

@media only screen and (max-width: 1000px) {
  .about-blurb {
    padding-right: 20px; } }

@media only screen and (max-width: 800px) {
  .about {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .about-picture, .about-blurb {
      padding: 0;
      width: 100%; } }

@media only screen and (max-width: 480px) {
  .about-picture img {
    width: 300px; } }

.contact {
  height: 80vh;
  margin: 20px; }
  .contact a {
    color: #22a6b3;
    text-decoration: none; }

@media only screen and (max-width: 600px) {
  .contact {
    margin: 20px 0; } }

.home {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 40px 0 0;
  height: 100vh; }
  .home .header-container,
  .home .codesign {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .home .header-container {
    width: 45%; }
    .home .header-container-block {
      display: block !important;
      width: 100% !important; }
  .home .codesign {
    width: 55%; }
    .home .codesign:hover:after {
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      right: 0;
      position: absolute;
      content: "take time to love your design";
      text-align: center;
      width: 250px;
      /* Safari */
      -webkit-transform: rotate(90deg);
      /* Firefox */
      -moz-transform: rotate(90deg);
      /* IE */
      -ms-transform: rotate(90deg);
      /* Opera */
      -o-transform: rotate(90deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=8); }
  .home #code {
    opacity: 1;
    transition: opacity 5s ease;
    width: 98%; }
  .home #code.fade {
    opacity: 0; }
  .home h2 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 86px !important;
    font-size: 5.375rem !important;
    line-height: 84px;
    margin: 0;
    text-align: left; }
  .home #mockup {
    display: none;
    height: 93vh;
    padding: 3.5vw;
    position: absolute; }
    .home #mockup .st0 {
      fill: #e6e6e6; }
    .home #mockup .st1 {
      fill: #ffffff; }
    .home #mockup .st2 {
      fill: #3a3a3a; }
    .home #mockup .st3 {
      fill: #f7f7f7; }
    .home #mockup .st4 {
      fill: none; }
    .home #mockup .st5 {
      fill: #fcfcfc; }
    .home #mockup .st6 {
      clip-path: url(#SVGID_2_); }
    .home #mockup .st7 {
      fill: #ffffff;
      stroke: #3a3a3a;
      stroke-width: 2;
      stroke-miterlimit: 10; }
    .home #mockup .st8 {
      fill: #fcfcfc;
      stroke: #e6e6e6;
      stroke-width: 2;
      stroke-miterlimit: 10; }
    .home #mockup .st9 {
      fill: none;
      stroke: #e6e6e6;
      stroke-width: 2;
      stroke-miterlimit: 10; }
    .home #mockup .st10 {
      fill: #f1f1f2; }
    .home #mockup .st11 {
      fill: #e6e7e8; }
    .home #mockup .st12 {
      fill: #70b34a; }
    .home #mockup .st13 {
      fill: #ddaa54; }
    .home #mockup .st14 {
      fill: #d5655d; }
    .home #mockup .st15 {
      fill: #d9d9d8; }
    .home #mockup .st16 {
      fill: #a0a09f; }

@media only screen and (max-width: 1000px) {
  .home h2 {
    font-size: 74px !important;
    font-size: 4.625rem !important;
    line-height: 74px; }
  .home .header-container {
    width: 45%; }
  .home .codesign {
    width: 55%; }
  .home #mockup {
    padding: 5vw;
    height: 80vh; } }

@media only screen and (max-width: 800px) {
  .home {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 80px 0 0;
    padding: 0 0 50px; }
    .home .header-container,
    .home .codesign {
      height: 80vh; }
    .home .header-container {
      background: rgba(255, 255, 255, 0.4);
      padding: 0 30px;
      width: 100%;
      z-index: 50; }
      .home .header-container-block {
        display: inline-block !important;
        width: 100% !important; }
    .home .codesign {
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      z-index: 10; }
    .home .code {
      padding: 30px; }
    .home #mockup {
      padding: 4vw;
      height: 80vh; } }

@media only screen and (max-width: 480px) {
  .home .header-container,
  .home .codesign {
    height: 80vh; }
  .home .codesign {
    width: 100%; }
  .home h2 {
    font-size: 66px !important;
    font-size: 4.125rem !important;
    line-height: 66px; }
  .home .code {
    padding: 15px; }
  .home #mockup {
    height: 70vh;
    padding: 4vw; } }

@media only screen and (max-width: 400px) {
  .home .header-container {
    padding: 0 15px; }
  .home .header-container,
  .home .codesign {
    height: 80vh; }
  .home .codesign {
    width: 100%; }
  .home h2 {
    font-size: 62px !important;
    font-size: 3.875rem !important;
    line-height: 62px; }
  .home #mockup {
    height: 70vh;
    padding: 4vw; } }

.process {
  padding: 0 20px; }
  .process-top {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 65vh; }
  .process-header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 25px auto; }
    .process-header-eye, .process-header-yee, .process-header-are {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 62px !important;
      font-size: 3.875rem !important;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      border-radius: 50%;
      color: #fff;
      height: 100px;
      margin: 10px;
      text-align: center;
      width: 100px; }
      .process-header-eye p, .process-header-yee p, .process-header-are p {
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-size: 62px !important;
        font-size: 3.875rem !important;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        font-weight: 500px !important;
        margin: 0; }
    .process-header-eye {
      animation: animatedgradient 6s ease-in alternate infinite !important;
      background: linear-gradient(270deg, #ffffff, #ffffff, #434343) !important;
      background-size: 220% 220% !important; }
    .process-header-yee {
      animation: animatedgradient 6s ease-in alternate infinite !important;
      background: linear-gradient(330deg, #ffffff, #ffffff, #434343) !important;
      background-size: 300% 300% !important; }
      .process-header-yee p {
        margin-top: -10px; }
    .process-header-are {
      animation: animatedgradient 6s ease-in alternate infinite !important;
      background: linear-gradient(230deg, #ffffff, #ffffff, #434343) !important;
      background-size: 290% 290% !important; }
      .process-header-are p {
        margin-top: -10px; }
  .process-main-container {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    line-height: 22px;
    padding: 150px 0 300px; }
    .process-main-container-iterate {
      padding: 130px 0 300px; }
      .process-main-container-iterate .process-main-text {
        margin: 10px 40px 5px 84px; }
    .process-main-container:last-of-type {
      padding: 150px 0 20px; }
  .process-main-inner {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .process-main-inner-explore .process-main-letter p {
      margin-top: -7px; }
    .process-main-inner-explore .process-main-rest {
      margin-top: -7px; }
    .process-main-inner-refine .process-main-letter p {
      margin-top: -6px; }
    .process-main-inner-refine .process-main-rest {
      margin-top: -6px; }
  .process-main-steps {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex; }
  .process-main-letter {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    animation: animatedgradient 6s ease-in alternate infinite !important;
    background-size: 300% 300% !important;
    background: linear-gradient(320deg, #fafafa, #434343) !important;
    border-radius: 50%;
    height: 75px;
    margin: 0px 5px 0px 0px;
    width: 75px; }
    .process-main-letter p {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 52px !important;
      font-size: 3.25rem !important;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      color: #fff;
      font-weight: 500px !important;
      margin: 0;
      text-align: center; }
  .process-main-para {
    font-size: 48px !important;
    font-size: 3rem !important;
    font-weight: 400;
    vertical-align: top; }
  .process-main-rest {
    font-size: 52px !important;
    font-size: 3.25rem !important;
    font-weight: 300; }
  .process-main-text {
    font-size: 18px !important;
    font-size: 1.125rem !important;
    line-height: 1.6;
    margin: 10px 40px 30px 84px;
    max-width: 720px; }

.repeat {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #2b2b2b;
  margin: 60px auto 0;
  text-decoration: none; }
  .repeat-icon {
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    -ms-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
    margin: 0 auto 10px;
    width: 60px; }
  .repeat p {
    padding: 0;
    margin: 0 auto;
    text-align: center; }

.arrow {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .arrow-circle {
    animation: animatedgradient 4s ease-in alternate infinite !important;
    background-size: 650% 650% !important;
    background: linear-gradient(355deg, #ffffff, #ffffff, #434343) !important;
    border-radius: 50%;
    cursor: pointer;
    height: 90px;
    left: 50%;
    margin: 30px auto;
    opacity: 0.1;
    width: 90px; }
  .arrow-btn {
    -webkit-animation: fade_arw_down 3s ease-in-out infinite;
    -moz-animation: fade_arw_down 3s ease-in-out infinite;
    -ms-animation: fade_arw_down 3s ease-in-out infinite;
    animation: fade_arw_down 3s ease-in-out infinite;
    font-size: 52px !important;
    font-size: 3.25rem !important;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    -ms-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    background: transparent;
    border-bottom: 5px solid #5e5e5e;
    border-radius: 7px;
    border-right: 5px solid #5e5e5e;
    bottom: 30px;
    cursor: pointer;
    display: block;
    height: 50px;
    margin: -60px auto 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 50px; }
  .arrow:hover .arrow-circle, .arrow:active .arrow-circle, .arrow:focus .arrow-circle {
    opacity: 1 !important; }

@media only screen and (max-width: 800px) {
  .process-main-text {
    margin: 10px 1px 10px 84px; } }

@media only screen and (max-width: 600px) {
  .process {
    padding: 0 0 30px; }
    .process-main-container {
      padding: 130px 0 200px; }
      .process-main-container:last-of-type {
        padding: 130px 0 20px; }
    .process-main-letter {
      height: 65px;
      width: 65px; }
      .process-main-letter p {
        font-size: 42px !important;
        font-size: 2.625rem !important; }
    .process-main-rest {
      font-size: 42px !important;
      font-size: 2.625rem !important; }
    .process-main-text {
      margin: 10px 1px 10px 73px; }
    .process-header {
      margin: 25px auto; }
      .process-header-eye, .process-header-yee, .process-header-are {
        height: 85px;
        margin: 5px;
        width: 85px; }
        .process-header-eye p, .process-header-yee p, .process-header-are p {
          font-size: 48px !important;
          font-size: 3rem !important; }
  .arrow-circle {
    height: 80px;
    width: 80px; }
  .arrow-btn {
    height: 45px;
    width: 45px; }
  .repeat-icon {
    width: 50px; } }

@media only screen and (max-width: 480px) {
  .process {
    padding: 0 0 10px; }
    .process-main-text {
      margin: 10px 0 !important; }
    .process-main-inner-refine .process-main-letter p {
      margin-top: -4px; }
    .process-main-inner-refine .process-main-rest {
      margin-top: -4px; }
    .process-header {
      margin: 25px auto; }
      .process-header-eye, .process-header-yee, .process-header-are {
        height: 75px;
        width: 75px; }
        .process-header-eye p, .process-header-yee p, .process-header-are p {
          font-size: 44px !important;
          font-size: 2.75rem !important; } }

@media only screen and (max-width: 400px) {
  .process-header {
    margin: 25px auto; }
    .process-header-eye, .process-header-yee, .process-header-are {
      height: 63px;
      width: 63px; }
      .process-header-eye p, .process-header-yee p, .process-header-are p {
        font-size: 38px !important;
        font-size: 2.375rem !important; } }

.readings {
  padding: 0 20px; }
  .readings li {
    margin: 10px auto; }
  .readings a {
    color: #22a6b3;
    text-decoration: none; }
    .readings a:hover, .readings a:focus, .readings a:active {
      animation: animatedgradient 10s ease-in alternate infinite !important;
      background: linear-gradient(330deg, #00c9ff, #92fe9d) !important;
      background-size: 800% 800% !important; }

@media only screen and (max-width: 600px) {
  .readings {
    padding: 0; } }

@media only screen and (max-width: 480px) {
  ul {
    padding-left: 30px; } }

.work {
  min-height: 100vh; }
  .work h2 {
    margin: 20px 20px 5px; }
  .work-container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%; }
  .work-item {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    height: 14vw;
    width: 33.33%; }
    .work-item-logo {
      width: 60%;
      z-index: 60; }
    .work-item-bg {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      height: 14vw;
      opacity: 0;
      position: absolute;
      width: 39%;
      animation: animatedgradient 4s ease-in alternate infinite !important;
      background: linear-gradient(320deg, #3494e6, #ec6ead) !important;
      background-size: 650% 650% !important;
      z-index: 50; }
    .work-item:hover .work-item-bg, .work-item:active .work-item-bg {
      opacity: 1; }
  .work-modal-heading {
    font-size: 26px !important;
    font-size: 1.625rem !important;
    font-weight: 600; }
  .work-modal-bio {
    font-size: 20px !important;
    font-size: 1.25rem !important; }
  .work-modal-cta {
    margin: 40px auto 20px;
    padding: 20px;
    text-align: center;
    width: 100%; }
  .work-modal-link, .work-modal-subheading {
    font-size: 22px !important;
    font-size: 1.375rem !important;
    margin: 30px auto 10px;
    font-weight: 600; }
  .work-modal-link {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid #111;
    border-radius: 5px;
    color: #111;
    display: block;
    font-weight: 400;
    padding: 20px 40px;
    text-decoration: none;
    width: 50%; }
    .work-modal-link:hover, .work-modal-link:active {
      background: #777777;
      color: #fff; }
  .work-modal-info {
    font-size: 20px !important;
    font-size: 1.25rem !important; }
  .work-modal-list {
    padding: 0;
    margin: 0;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }
    .work-modal-list li {
      padding: 6px 10px 4px;
      background: #dddddd;
      border-radius: 4px;
      list-style: none;
      margin: 3px; }
  .work-modal-olist li {
    font-size: 18px !important;
    font-size: 1.125rem !important;
    margin-bottom: 10px; }

.recent,
.open-source,
.how-help {
  margin-bottom: 40px; }

.how-help .work-container {
  max-width: 1000px; }
  .how-help .work-container ul > li {
    font-size: 18px !important;
    font-size: 1.125rem !important;
    margin-bottom: 15px; }

@media only screen and (max-width: 1000px) {
  .work-item {
    height: 18vw;
    width: 50%; }
    .work-item-bg {
      height: 18vw;
      width: 54%; } }

@media only screen and (max-width: 800px) {
  .work-item {
    height: 22vw; }
    .work-item-bg {
      height: 22vw; } }

@media only screen and (max-width: 600px) {
  .work-item {
    height: 28vw;
    width: 100%; }
    .work-item-logo {
      width: 50%; }
    .work-item-bg {
      height: 28vw;
      width: 100%; }
  .work-modal-cta {
    padding: 0; }
  .work-modal-link {
    width: 100%; } }
