.home {
	@include flexbox(flex);
	@include align-items(center);
	@include justify-content(center);
	margin: 80px 0 0;

	.header-container,
	.codesign {
		@include flexbox(flex);
		@include align-items(center);
		height: 80vh;
	}

	.header-container {
		width: 45%;

		&-block {
			display: block !important;
			width: 100% !important;
		}
	}

	.codesign {
    @include transition(all 2s ease-in-out);
    width: 55%;
    
    &:hover:after {
      @include transition(all 2s ease-in-out);
      content: "take more time to love your design";
      position: relative;
      left: 0; right: 0; bottom: 1vh;
      text-align: center;
    }
	}

	#code {
		opacity: 1;
		transition: opacity 5s ease;
		width: 98%;
	}

	#code.fade {
		opacity: 0;
	}

	h2 {
    @include transition(all 0.5s ease);
		@include font-size(86);
		line-height: 84px;
		margin: 0;
		text-align: left;
  }


	#mockup {
		display: none;
		height: 90vh;
		padding: 3.5vw;
    position: absolute;

		.st0 {
			fill: #e6e6e6;
		}

		.st1 {
			fill: #ffffff;
		}

		.st2 {
			fill: #3a3a3a;
		}

		.st3 {
			fill: #f7f7f7;
		}

		.st4 {
			fill: none;
		}

		.st5 {
			fill: #fcfcfc;
		}

		.st6 {
			clip-path: url(#SVGID_2_);
		}

		.st7 {
			fill: #ffffff;
			stroke: #3a3a3a;
			stroke-width: 2;
			stroke-miterlimit: 10;
		}

		.st8 {
			fill: #fcfcfc;
			stroke: #e6e6e6;
			stroke-width: 2;
			stroke-miterlimit: 10;
		}

		.st9 {
			fill: none;
			stroke: #e6e6e6;
			stroke-width: 2;
			stroke-miterlimit: 10;
		}

		.st10 {
			fill: #f1f1f2;
		}

		.st11 {
			fill: #e6e7e8;
		}

		.st12 {
			fill: #70b34a;
		}

		.st13 {
			fill: #ddaa54;
		}

		.st14 {
			fill: #d5655d;
		}

		.st15 {
			fill: #d9d9d8;
		}

		.st16 {
			fill: #a0a09f;
		}
	}
}

@media only screen and (max-width: $break-xlg) {
	.home {
		h2 {
			@include font-size(74);
			line-height: 74px;
		}

		.header-container {
			width: 45%;
		}

		.codesign {
			width: 55%;
		}

		#mockup {
			padding: 5vw;
			height: 80vh;
		}
	}
}

@media only screen and (max-width: $break-lg) {
	.home {
		@include align-items(center);
		@include flex-direction(column);
		@include flexbox(flex);
		@include justify-content(center);
		margin: 80px 0 0;
		padding: 0 0 50px;

		.header-container,
		.codesign {
			height: 80vh;
		}

		.header-container {
			background: rgba(255, 255, 255, 0.4);
			padding: 0 30px;
			width: 100%;
			z-index: 50;

			&-block {
				display: inline-block !important;
				width: 100% !important;
			}
		}

		.codesign {
			@include justify-content(center);
			position: absolute;
			width: 100%;
			z-index: 10;
		}

		.code {
			padding: 30px;
		}

		#mockup {
			padding: 4vw;
			height: 80vh;
		}
	}
}

@media only screen and (max-width: $break-sm) {
	.home {
		.header-container,
		.codesign {
			height: 80vh;
		}

		.codesign {
			width: 100%;
		}

		h2 {
			@include font-size(66);
			line-height: 66px;
		}

		.code {
			padding: 15px;
		}

		#mockup {
			height: 70vh;
			padding: 4vw;
		}
	}
}

@media only screen and (max-width: 400px) {
	.home {
		.header-container {
			padding: 0 15px;
		}

		.header-container,
		.codesign {
			height: 80vh;
		}

		.codesign {
			width: 100%;
		}

		h2 {
			@include font-size(62);
			line-height: 62px;
		}

		#mockup {
			height: 70vh;
			padding: 4vw;
		}
	}
}
