.readings {
	padding: 0 20px;

	li {
		margin: 10px auto;
	}

	a {
		color: $bluegreen;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			animation: animatedgradient 10s ease-in alternate infinite !important;
			background: linear-gradient(330deg, #00c9ff, #92fe9d) !important;
			background-size: 800% 800% !important;
		}
	}
}

@media only screen and (max-width: $break-md) {
	.readings {
		padding: 0;
	}
}

@media only screen and (max-width: $break-sm) {
	ul {
		padding-left: 30px;
	}
}
