.banner {
	@include align-items(center);
	@include flexbox(flex);
	@include justify-content(space-between);
	background: $white;
	padding: 20px 20px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 75;

	.logo {
		&-heading {
			@include font-size(28);
			margin: 0;
		}

		&-main {
			margin: 14px 10px 0;
			width: 180px;
		}
	}
}

@media only screen and (max-width: 400px) {
	.banner {
		padding: 15px;

		.logo {
			&-main {
				margin: 14px 0 0;
				width: 160px;
			}
		}
	}
}
