.recent {
    padding: 0 60px;

    &-box {
        @include transition(all 2 ease);
        border: rgba(0, 0, 0, 0.03) solid 2px;
        padding: 12px 20px;
        cursor: pointer;

        &-info {
            padding: 0 40px;
            max-width: 800px;
        }

        &:hover {
            @include transition(all 2 ease);
            border: rgba(0, 0, 0, 1) solid 2px;
        }
    }

}