.recent {
    padding: 0 60px;

    &-box {
        @include transition(color 1000ms ease, background-color 1200ms ease, border-color 1200ms ease);
        border: 3px solid $white;
        padding: 25px 20px;
        cursor: pointer;

        &:first-child {
            border-radius: 10px 10px 0 0;
        }

        &:hover,
        &:active {
            border: 3px solid #75b2bf;
            background: linear-gradient(330deg,#40E0D0, #FF8C00, #FF0080);
            animation: animatedgradient 10s ease alternate infinite;  
            background-size: 800% 800%;
            color: $white;
        }

        &-contain {
            @include flexbox(inline-flex);
            @include align-items(flex-start);
        }

        h3 {
            font-weight: 500;
            margin: 0 0 15px 10px;
        }

        &-info {
            padding: 0 15px 0 10px;
            margin: 0 auto;
            width: 65%;
        }

        &-category {
            @include flexbox(inline-flex);
            @include flex-wrap(wrap);
            @include justify-content(flex-end);
            width: 35%;
        }

        &:hover {
            @include transition(all 2 ease);
        }

        &-tags {
            background: grey;
            color: $white;
            border-radius: 15px;
            font-weight: 400;
            text-align: center;
            padding: 10px;      
            margin: 5px;
            min-width: 110px;
        }
    }

    &-wemote {
        background-color: lighten(#75b2bf, 10%);
        background: linear-gradient(330deg,#74ebd5, #ACB6E5);
        animation: animatedgradient 8s ease alternate infinite;  
        background-size: 600% 600%;
    }

    &-accordance {
        background-color: lighten(#1E824C, 10%);
        background: linear-gradient(330deg,#1D976C, #93F9B9);
        animation: animatedgradient 8s ease alternate infinite;  
        background-size: 600% 600%;
    }

}