.recent {
    padding: 0 60px;
    margin-bottom: 50px;

    &-box {
        @include transition(color 500ms ease, background-color 1200ms ease, border-color 1200ms ease);
        border: 2px solid lighten($black, 15%);
        border-bottom: 0;
        padding: 25px 20px;
        cursor: pointer;

        &:first-child {
            border-radius: 10px 10px 0 0;
        }

        &:last-child {
            border-radius: 0 0 10px 10px;
        }

        &:hover,
        &:active {

            .recent-box-tags,
            .recent-box-summary,
            .recent-box-logo {
                border: 1px solid $white;
                color: $white;
            }
        }

        &-contain {
            @include flexbox(inline-flex);
            @include align-items(center);
        }

        h3 {
            margin: 0 auto;
            text-align: center;

            img {
                @include transition(color 500ms ease, background-color 1200ms ease, border-color 1200ms ease);
                border-radius: 10px;
                border: 1px solid lighten($white, 15%);
                padding: 5px;
                width: 180px;
            }
        }

        p {
            @include font-size(18);
            text-align: center;
        }

        &-info {
            @include flexbox(flex);
            @include flex-direction(column);
            width: 65%;
        }

        &-summary {
            @include transition(color 500ms ease, background-color 1200ms ease, border-color 1200ms ease);
            text-align: left;
            padding: 15px;
            margin: 0 auto;
            border-radius: 10px;
            border: 1px solid lighten($white, 15%);
        }

        &-category {
            @include flexbox(inline-flex);
            @include flex-wrap(wrap);
            @include justify-content(flex-end);
            width: 35%;
        }

        &:hover {
            @include transition(all 2 ease);
        }

        &-tags {
            @include transition(color 500ms ease, background-color 1200ms ease, border-color 1200ms ease);
            color: lighten($black, 15%);
            border: 1px solid lighten($white, 15%);
            border-radius: 15px;
            font-weight: 400;
            text-align: center;
            padding: 10px;      
            margin: 5px;
            min-width: 110px;
        }
    }

    &-wemote {
        &:hover,
        &:active {
            border: 2px solid #75b2bf;
            border-bottom: 0;
            animation: animatedgradient 10s ease alternate infinite !important;  
            background: linear-gradient(330deg,#fc00ff,#00dbde) !important;
            background-size: 800% 800% !important;
        }
    }

    &-accordance {
        &:hover,
        &:active {
            border: 2px solid #00C9FF;
            animation: animatedgradient 10s ease alternate infinite !important;
            background: linear-gradient(330deg,#00C9FF,#92FE9D) !important;
            background-size: 800% 800% !important;
        }
    }

    &-bitcoin {
        background-color: lighten(#f8b500, 10%);
        background: linear-gradient(330deg,#fceabb, #f8b500);
        animation: animatedgradient 8s ease alternate infinite;  
        background-size: 600% 600%;
    }

    &-clients {
        @include transition(color 500ms ease, background-color 1200ms ease);
        background-color: $white;
        border: 3px solid lighten(black, 15%);
        color: lighten(black, 15%);
        display: block;
        font-size: 20px;
        font-weight: 400;
        margin: 40px auto;
        max-width: 180px;
        padding: 10px;
        text-align: center;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: lighten(black, 15%);
            color: $white;
        }
    }

}