//Gradient
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

//Fade Arrow
@keyframes fade_arw_down {
	0% {
		transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}

//Spin
@keyframes spin {
	0% {
		opacity: 0.4;
	}

	50% {
		opacity: 1;
	}

	100% {
		@include transform(rotate(360deg));
		opacity: 0.4;
	}
}

//Nav Brgr
@keyframes slideInLeft {
	0% {
		transform: translate3d(250px, 0, 0);
		visibility: visible;
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutLeft {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(250px, 0, 0);
		visibility: hidden;
	}
}
