@import '_mixins.scss';

.hide {
	@include visually-hidden();
}

.remove {
	display: none;
}

.is-hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
	opacity: 0;
	@include transition(opacity ease-in-out 0.2s);
	visibility: hidden;
}

.outline {
	color: $white;
	-webkit-text-stroke: 2px black;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
