// Styling Changes that will be organized for later. Keep this stylesheet no more than 100 lines!

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade_arw_down {
    0%   { 
        transform:translate(0,-10px) rotate(45deg); 
        opacity: 0;  
    }
    50%  { 
        opacity: 1;  
    }
    100% { 
        transform:translate(0,10px) rotate(45deg); 
        opacity: 0; 
    }
}

@keyframes spin { 
    0% { 
        opacity: .4;
    } 

    50% { 
        opacity: 1;
    } 

    100% { 
        @include transform(rotate(360deg));
        opacity: .4;
    } 
}
