.home {
	@include flexbox(flex);
	@include align-items(center);
	@include justify-content(center);
	margin: 80px 30px 0;

	.header-container,
	.codesign {
		@include flexbox(flex);
		@include align-items(center);
		height: 80vh;
	}

	.header-container {
		width: 45%;

		&-block {
			display: block !important;
			width: 100% !important;
		}
	}

	.codesign {
		width: 55%;
	}

	#code {
		opacity: 1;
		transition: opacity 5s ease;
	}

	#code.fade {
		opacity: 0;
	}

	h2 {
		@include transition(all 0.5s ease);
		@include font-size(86);
		line-height: 84px;
		margin: 0;
		text-align: left;
	}

	#mockup {
		@include transition(all 0.5s ease);
		display: none;
		position: absolute;
		padding: 3.5vw;
		height: 90vh;

		.st0 {
			fill: #e6e6e6;
		}

		.st1 {
			fill: #ffffff;
		}

		.st2 {
			fill: #3a3a3a;
		}

		.st3 {
			fill: #f7f7f7;
		}

		.st4 {
			fill: none;
		}

		.st5 {
			fill: #fcfcfc;
		}

		.st6 {
			clip-path: url(#SVGID_2_);
		}

		.st7 {
			fill: #ffffff;
			stroke: #3a3a3a;
			stroke-width: 2;
			stroke-miterlimit: 10;
		}

		.st8 {
			fill: #fcfcfc;
			stroke: #e6e6e6;
			stroke-width: 2;
			stroke-miterlimit: 10;
		}

		.st9 {
			fill: none;
			stroke: #e6e6e6;
			stroke-width: 2;
			stroke-miterlimit: 10;
		}

		.st10 {
			fill: #f1f1f2;
		}

		.st11 {
			fill: #e6e7e8;
		}

		.st12 {
			fill: #70b34a;
		}

		.st13 {
			fill: #ddaa54;
		}

		.st14 {
			fill: #d5655d;
		}

		.st15 {
			fill: #d9d9d8;
		}

		.st16 {
			fill: #a0a09f;
		}
	}
}

@media only screen and (max-width: $break-xlg) {
	.home {
		h2 {
			@include font-size(74);
			line-height: 74px;
		}

		.header-container {
			width: 42%;
		}

		.codesign {
			width: 58%;
		}

		#mockup {
			padding: 5vw;
			height: 80vh;
		}
	}
}

@media only screen and (max-width: $break-lg) {
	.home {
		h2 {
			@include font-size(54);
			line-height: 54px;
		}

		#mockup {
			padding: 4vw;
			height: 70vh;
		}
	}
}

@media only screen and (max-width: $break-med) {
	.home {
		@include flexbox(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		margin: 80px 0 0;

		.header-container,
		.codesign {
			height: 80vh;
		}

		.header-container {
			width: 100%;

			&-block {
				display: inline-block !important;
				width: 100% !important;
			}
		}

		.codesign {
			width: 100%;
		}

		h2 {
			@include font-size(50);
			line-height: 50px;
		}

		#mockup {
			padding: 4vw;
			height: 70vh;
		}
	}
}
