.process {
    padding: 0 20px;

    &-top {
        @include flexbox(flex);
        @include justify-content(center);
        height: 70vh;
    }

    &-header {
        @include flexbox(flex);
        @include justify-content(center);
        margin: 30px auto;

        &-eye,
        &-yee,
        &-are {
            @include flexbox(flex);
            @include justify-content(center);
            @include align-items(center);
            @include font-size(62);
            color: black;
            border: 1px solid black;
            border-radius: 50%;
            text-align: center;
            margin: 20px;
            height: 100px;
            width: 100px;
        }

        &-eye {         
            animation: animatedgradient 8s ease-in alternate infinite !important;  
            background: linear-gradient(270deg,#ffffff,#ffffff,#434343) !important;
            background-size: 220% 220% !important;
        }
    }

    &-main {

        &-container {
            line-height: 22px;
            margin: 40px auto 60px;
        }

        &-para {
            @include font-size(48);
            font-weight: 400;
            vertical-align: top;
        }

        &-one {
            @include font-size(52);
            font-weight: 400;

            &-eye {
                padding: 0 8px;
            }

            &-are {
                padding: 0 4px;
            }
        }

        &-rest {
            @include font-size(52);
            font-weight: 300;
        }

        &-text {
            @include font-size(18);
            font-weight: 300;
            margin: 20px 70px;
        }
    }

}