.readings {
    padding: 0 20px;

    li {
        margin: 10px auto;
    }

    a {
        color: $bluegreen;
        text-decoration: none;

        &:hover,
        &:focus, 
        &:active {
            animation: animatedgradient 10s ease-in alternate infinite !important;  
            background: linear-gradient(330deg,#00C9FF,#92FE9D) !important;
            background-size: 800% 800% !important;
        }
    }
}

@media only screen and (max-width: $break-med) {
    .readings {
        padding: 0;
    }

}