.work {
	min-height: 100vh;

	&-container {
		@include transition(all 0.5s ease);
		@include flexbox(inline-flex);
		@include flex-wrap(wrap);
		@include align-items(flex-start);
		width: 100%;
	}

	&-item {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(center);
		background: transparent;
		cursor: pointer;
		height: 14vw;
		width: 33.33%;

		&-logo {
			width: 60%;
			z-index: 60;
		}

		&-bg {
			@include transition(all 0.5s ease);
			height: 14vw;
			opacity: 0;
			position: absolute;
			width: 39%;
			animation: animatedgradient 4s ease-in alternate infinite !important;
			background: linear-gradient(320deg, #3494e6, #ec6ead) !important;
			background-size: 650% 650% !important;
			z-index: 50;
		}

		&:hover,
		&:active {
			.work-item-bg {
				opacity: 1;
			}
		}
	}

	&-modal {
		&-heading {
			@include font-size(26);
			font-weight: 600;
		}

		&-bio {
			@include font-size(20);
		}

		&-cta {
			margin: 40px auto 20px;
			padding: 20px;
			text-align: center;
			width: 100%;
		}

		&-link,
		&-subheading {
			@include font-size(22);
			margin: 30px auto 10px;
			font-weight: 600;
		}

		&-link {
			@include transition(all 0.5s ease);
			border: 2px solid $black;
			border-radius: 5px;
			color: $black;
			display: block;
			font-weight: 400;
			padding: 20px 40px;
			text-decoration: none;
			width: 50%;

			&:hover,
			&:active {
				background: lighten($black, 40%);
				color: $white;
			}
		}

		&-info {
			@include font-size(20);
		}

		&-list {
			padding: 0;
			margin: 0;
			@include flexbox(inline-flex);
			@include flex-wrap(wrap);
			@include align-items(flex-start);

			li {
				padding: 6px 10px 4px;
				background: lighten($grey, 20%);
				border-radius: 4px;
				list-style: none;
				margin: 3px;
			}
		}
	}
}

@media only screen and (max-width: $break-xlg) {
	.work {
		&-item {
			height: 18vw;
			width: 50%;

			&-bg {
				height: 18vw;
				width: 54%;
			}
		}
	}
}

@media only screen and (max-width: $break-lg) {
	.work {
		&-item {
			height: 22vw;

			&-bg {
				height: 22vw;
			}
		}
	}
}

@media only screen and (max-width: $break-med) {
	.work {
		&-item {
			height: 28vw;
			width: 100%;

			&-logo {
				width: 50%;
			}

			&-bg {
				height: 28vw;
				width: 100%;
			}
		}

		&-modal {
			&-cta {
				padding: 0;
			}
			&-link {
				width: 100%;
			}
		}
	}
}
