.work {
	&-container {
		@include transition(all 0.5s ease);
		@include flexbox(inline-flex);
		@include flex-wrap(wrap);
		@include align-items(flex-start);
		width: 100%;
	}

	h2 {
		margin: 20px 20px 5px;
	}

	&-item {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(center);
		background: transparent;
		cursor: pointer;
		height: 12vw;
		width: 33.33%;

		&-logo {
			width: 50%;
			z-index: 60;
		}

		&-bg {
			@include transition(all 0.5s ease);
			height: 12vw;
			opacity: 0;
			position: absolute;
			width: 39%;
			animation: animatedgradient 4s ease-in alternate infinite !important;
			background: linear-gradient(320deg, #3494e6, #ec6ead) !important;
			background-size: 650% 650% !important;
			z-index: 50;
		}

		&:hover,
		&:active,
		&:focus {
			.work-item-bg {
				opacity: 1;
			}
		}
	}
}
